---
title: Trouve un job !
illustration: /assets/images/guide.svg
---

<h1>Trouve un job !</h1>

<form>
{% for question in site.data.questions %}
  <div class="box">
  <label class="box_label" for="question-{{ question.id }}">{{ question.text }}</label>
  <div class="box_content">
    {% for answer in question.answers %}
      <input type="radio" id="{{ answer.id }}" name="{{ question.id }}" value="{{ answer.id }}" required>
      <label for="{{ answer.id }}">{{ answer.text }}</label><br>
    {% endfor %}
    </div>
  </div>
{% endfor %}
<input type="submit" value="Trouve-moi un job !">
</form>

<div id="foundJobs"></div>

{% include tutorial.js %}