---
title: Trouve un job !
illustration: /assets/images/guide.svg
---

<h1>Hello, je suis ton Hessistant virtuel !</h1>

<p>
  Trouver un job quand on vient d'un milieu pas trop aisé... c'est la hess !<br>
  Connaître le métier, avoir la formation, trouver une offre, envoyer une candidature, passer les entretiens,... et on ne parle même pas des discriminations tout au long de ce parcours.
</p>
<p>
  L'environnement... bah c'est la hess aussi !<br>
  Mais pour ce qui est des jobs, ça va en créer plein. C'est peut-être l'occasion de galérer un peu moins et de trouver un emploi.
</p>
<p>
  Allez, c'est parti, on te trouve un job !<br>
  Réponds à quelques questions pour découvrir des jobs qui te conviennent, qui recrutent et qui te permettront d'aider les gens autour de toi.
</p>

<form>
{% for question in site.data.questions %}
  <div class="box">
  <label class="box_label" for="question-{{ question.id }}">{{ question.text }}</label>
  <div class="box_content">
    {% for answer in question.answers %}
      <input type="radio" id="{{ answer.id }}" name="{{ question.id }}" value="{{ answer.id }}" required>
      <label for="{{ answer.id }}">{{ answer.text }}</label><br>
    {% endfor %}
    </div>
  </div>
{% endfor %}
<input type="submit" value="Trouve-moi un job !">
</form>

<div id="foundJobs"></div>

{% include tutorial.js %}