body {
  padding: 0;
  margin: 0;
  background-color: $back-color;
  color: $base-color;
}
h1, h2 {
  font-weight: normal;
}
h2 {
  font-style: italic;
}
li p {
  margin: 0;
}
.illustration {
  max-width: 480px;
}
.quote {
  font-style: italic;
}
