body {
  font-family: Verdana, Arial, Sans-serif;
}
footer {
  padding: 8px 16px;
  border-top: 1px solid;
}
nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 16px;
  row-gap: 8px;
  align-items: flex-end;
  border-bottom: 1px solid;
}
nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  column-gap: 16px;
  row-gap: 8px;
  margin: auto 0;
  padding: 8px;
}
nav li {
  margin-top: auto;
  margin-bottom: auto;
}
nav a {
  text-decoration: none;
}
nav .current {
  text-decoration: underline;
}
.logo, .logo img {
  width: 64px;
  height: 64px;
}
.logo {
  padding-top: 8px;
}