body {
  font-family: Verdana, Arial, Sans-serif;
}
footer {
  padding: 8px 16px;
  border-top: 1px solid;
}
nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 16px;
  row-gap: 8px;
  align-items: flex-end;
  border-bottom: 1px solid;
}
nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  column-gap: 16px;
  row-gap: 8px;
  margin: auto 0;
  padding: 8px;
}
nav li {
  margin-top: auto;
  margin-bottom: auto;
}
nav a {
  text-decoration: none;
}
nav .current {
  text-decoration: underline;
}
.logo, .logo img {
  width: 64px;
  height: 64px;
}
.logo {
  padding-top: 8px;
}
.page_container {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
  row-gap: 8px;
}
.page_content, .illustration {
  padding: 16px;
}
.page_content {
  flex: 70%;
}
.illustration {
  flex: 30%;
  max-width: 320px;
  margin-top: auto;
  margin-bottom: auto;
}
@media (max-width: 640px) {
  .page_container {
    flex-direction: column;
  }
  .page_content, .illustration {
    flex: auto;
  }
}